body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: aliceblue;
    color: #38401D;
}

.wrapper {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

section:after {
    content: " ";
    display: block;
    clear: both;
}

section div.container img {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    border: 1px solid transparent;
    opacity: 1;
    transition: opacity .5s;
}

section div.container img:hover {
    opacity: 0.65;
}

section {
    margin-bottom: 3%;
}

section h2 {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    section div.container img {
        display: block;
        float: none;
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        width: 100%;
    }

}